body {
 /* 23 F */
 background-image: url("https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c6a89cf0d31c8ed23b35aaf9a119a9f5&auto=format&fit=crop&w=1355&q=80");
 background-size: cover;
 width: 100%;
 height: 150%;
}
html {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

.box {
 /* 24 C, D, E, F */
 /* 22 C-2 */
 height: 200px;
 background: green;
 margin: 15% auto;
 padding: 5%;
 text-align: center;
 box-sizing: border-box;
 border: 5px solid black;
 box-shadow: 10px 10px;
}
.children {
 /* 25 D */
 float: left;
 background: black;
 width: 50%;
 color: white;
 margin: 10px;
 padding: 2px;
}
.fake-nav {
 /* 23 E */
 background-color: lightblue;
 padding: 5%;
 opacity: .8;
}
/* 25F -- Menu Items 1 - 4 */
#menuitem1 {
 /* 22 C-1 */
 display: none;
} 
#menuitem2 {
 /* 23D-1, 23D-2, 23D-3 */
 display: block;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 font-size: 25;
 color: green;
}
#menuitem3 {
 display: inline-block;
 color: yellow;
}
#menuitem4 {
 display: inline-block;
 color: red;
}
#relative {
 /* 25C-1 */
 position: relative;
 height: 50px;
 background-color: rebeccapurple;
 width: 50%; 
 text-align: center;
}
#absolute {
 /* 25C-2 */
 position: absolute;
 right: 0;
 bottom: 0;
}
.fixed.sub-menu {

 text-align: center;
 position: fixed;
 top: 20px;
 right: 20px;
 width: 20%;
 background: rgb(194, 250, 194);
 z-index: 990;
}
ul>li {
 /* 22 C-3 */
 list-style-type: none;
 margin: 5% 0; 
}
#paragraph-text {
 width: 200px;
 background: grey;
 display: flex;

}
div p {
 /* 22 C-4 */
 color: greenyellow;
 text-align: center;
 
}
h1 + h2 {
 /* 22 C-5 */
 font-size: 25px;
 color: navajowhite;
}
#flex-master {
  display: flex;
  justify-content: space-evenly
}
#flexbox-container_one {
 /* 27 - C, D, E */
 width: 10%;
 background-color: teal;
 display: flex;
 justify-content: center;
 flex-wrap: wrap-reverse;
}
#flexbox-container_two {
 /* 27 - F , G */
 width: 50%;
 background-color: teal;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

#modal {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;
 position: absolute;
 top: -1000px;
 left: 0;
 background-color: white;
 z-index: 999;
 /* 28D */
 transition: all 1s ease-in-out;
}
#video {
 display: flex;
 flex-direction: column;
 background: white;
 padding: 10%;
}
@keyframes video-animation {
 /* 28C */
  0% {
   transform: rotate(0deg);
   left: 0px;
 }
 25% {
   transform: rotate(20deg);
   left: 0px;
 }
 50% {
   transform: rotate(0deg);
   left: 500px;
 }
 55% {
   transform: rotate(0deg);
   left: 500px;
 }
 70% {
   transform: rotate(0deg);
   left: 500px;
   background: #1ec7e6;
 }
 100% {
   transform: rotate(-360deg);
   left: 0px;
 }
}
#video-animate {
 background-color: steelblue;
 position: relative;
 width: 13%;
 padding: 2%;
 width: 70px;
 border-radius: 5px;
 -webkit-border-radius: 5px;  
 animation: video-animation 5s infinite;
 -moz-animation: video-animation 5s infinite;
 -webkit-animation: video-animation 5s infinite;
 -o-animation: video-animation 5s infinite;
 
}
#yoshi-image {
 /* 28E -- Changed on button click */
 transform: scale(1);
}
.yoshi-button {
 position: relative;
 z-index: 999;
}